@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-paper text-oxford-blue font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

/* Tiptap Editor Overrides */
.ProseMirror {
  outline: none !important;
  min-height: 100%;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: rgba(14, 27, 44, 0.2);
  pointer-events: none;
  height: 0;
}

.ProseMirror:focus {
  outline: none !important;
}

.custom-tiptap-editor .ProseMirror>*+* {
  margin-top: 1.25em;
}